@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background: url("1802071.webp");
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.title{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
}

.container{
    display: flex;
    width: 40vw;
    height: 150px;
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.title_2{
    color: white;
    text-align: center;
}

.display{
    height: 45px;
    width: 70px;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    border-radius: 20%;
}